h1{
    color: dodgerblue;
    font-family: Consolas;
    
     
}

input {
    color: purple;
    text-align:right
   
}

input {
    background-color:aliceblue;
   
}
#btn0 {
    background-color: darkred;
    color: lightgray
    
}
